<% provide(:title, 'About the Magazine') %>
<div class = "about-the-mag-container">
	<div class="staff-list-container">
		<h1 id= "staff-list">Staff List</h1>
		<div class="staff-list-block-one">
			<h5 class = "staff-list-head">editors-in-chief</h5>
				<h5 class = "staff-list-text">Avid Khorramian</h5>
				<h5 class = "staff-list-text">Kelsey O’Donnell</h5>

			<h5 class = "staff-list-head">web developer</h5>
				<h5 class = "staff-list-text">Tom Bonan</h5>

			<h5 class = "staff-list-head">marketing manager</h5>
				<h5 class = "staff-list-text">Tooba Ali</h5>

			<h5 class = "staff-list-head">chief copy editor</h5>
				<h5 class = "staff-list-text">Staci Dubow</h5>

			<h5 class = "staff-list-head">designers</h5>
				<h5 class = "staff-list-text">Megan Cannella</h5>
				<h5 class = "staff-list-text">Sam Kelly</h5>

			<h5 class = "staff-list-head">writers</h5>
				<h5 class = "staff-list-text">Mamta Badlani</h5>
				<h5 class = "staff-list-text">Amanda Battle</h5>
				<h5 class = "staff-list-text">Meghan Byrd</h5>
				<h5 class = "staff-list-text">Jhomely Delossantos</h5>
				<h5 class = "staff-list-text">Madeline Diamond</h5>
				<h5 class = "staff-list-text">Dante Fresse</h5>
				<h5 class = "staff-list-text">Caitlin Friel</h5>
				<h5 class = "staff-list-text">Joanna Harrold</h5>
				<h5 class = "staff-list-text">Maddie Liotta</h5>
				<h5 class = "staff-list-text">Emily Malmquist</h5>
				<h5 class = "staff-list-text">Katie Sidlowski</h5>
				<h5 class = "staff-list-text">West Shepherd</h5>
				<h5 class = "staff-list-text">Lauren Whelan</h5>
				<h5 class = "staff-list-text">Delaney Worth</h5>
				<h5 class = "staff-list-text">Courtney Wren</h5>
		</div><!-- block one -->

		<div class="staff-list-block-two">
			<h5 class = "staff-list-head">social media head</h5>
				<h5 class = "staff-list-text">Julia Gee</h5>

			<h5 class = "staff-list-head">social media team</h5>
				<h5 class = "staff-list-text">Natalie Dumart</h5>
				<h5 class = "staff-list-text">Caroline Sullivan</h5>

			<h5 class = "staff-list-head">event planning head</h5>
				<h5 class = "staff-list-text">Cristina Bartalacci</h5>

			<h5 class = "staff-list-head">event planning team</h5>
				<h5 class = "staff-list-text">Elisabeth Curtis</h5>
				<h5 class = "staff-list-text">Patxi Elizalde</h5>
				<h5 class = "staff-list-text">Madison Farley</h5>
				<h5 class = "staff-list-text">Ellie McGuire</h5>
				<h5 class = "staff-list-text">Taylor Sheldon</h5>
				<h5 class = "staff-list-text">Phebe Wong</h5>

			<h5 class = "staff-list-head">general marketing team</h5>
				<h5 class = "staff-list-text">Sam Cohen</h5>
				<h5 class = "staff-list-text">Priyanka Junankar</h5>
				<h5 class = "staff-list-text">Tom Murphy</h5>
				<h5 class = "staff-list-text">Tara Malloy</h5>
				<h5 class = "staff-list-text">Sawyer Owens</h5>
				<h5 class = "staff-list-text">Angela Ri</h5>
				<h5 class = "staff-list-text">Madeleine Silva</h5>
				<h5 class = "staff-list-text">Elias Strizower</h5>
				<h5 class = "staff-list-text">Megan Summers</h5>
				<h5 class = "staff-list-text">Sara Wedeking</h5>

		</div> <!-- block two -->

	</div> <!-- staff list container -->
</div> <!-- about-the-mag-container -->
