<% provide(:title, 'About the Magazine') %>
<div class = "about-the-mag-container">
	<div class = "about-first">
		<div class = "about-image-first">

		</div>

		<div class = "about-text-first">
			<div class = "first-text">
				
			</div>
		</div>
	</div> <!-- about-first -->

	<div class = "about-second">
	</div>
</div> <!-- about-the-mag-container --> 