<% provide(:title, 'About the Magazine') %>
<div class = "about-the-mag-container">
	

	<div class = "about-second">
		<div class = "about-the-staff">
			<h1 id = "staff-about-title"><span>The Etcetera Staff</span></h1>
		</div>

		<div class = "staff-bio">
			<div class = "bio-content-right" id = "one">
				<h2 id = "bio-name">Avid Khorramian</h2>
				<h3 id = "position">Co-Founder</h3>
				<p id = "bio-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at risus tincidunt, auctor diam nec, ullamcorper nisl. Aliquam sed mollis ex, a mollis orci. Integer accumsan pretium rhoncus. Nam elementum lectus non eros tempus viverra. Sed pretium urna lectus, sit amet commodo libero mattis sed. Etiam eu efficitur lacus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
			</div>
			<%= image_tag('placeholders/frut-one.jpg', :class => "staff-photo-left") %>
		</div>
		<div class = "staff-bio">
			<div class = "bio-content-left" id = "two">
				<h2 id = "bio-name">Kelsey O'Donnell</h2>
				<h3 id = "position">Co-Founder</h3>
				<p id = "bio-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at risus tincidunt, auctor diam nec, ullamcorper nisl. Aliquam sed mollis ex, a mollis orci. Integer accumsan pretium rhoncus. Nam elementum lectus non eros tempus viverra. Sed pretium urna lectus, sit amet commodo libero mattis sed. Etiam eu efficitur lacus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
			</div>
			<%= image_tag('placeholders/frut-one.jpg', :class => "staff-photo-right") %>
		</div>
		<div class = "staff-bio">
			<div class = "bio-content-right" id = "three">
				<h2 id = "bio-name">Tom Bonan</h2>
				<h3 id = "position">Head Web Developer</h3>
				<p id = "bio-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at risus tincidunt, auctor diam nec, ullamcorper nisl. Aliquam sed mollis ex, a mollis orci. Integer accumsan pretium rhoncus. Nam elementum lectus non eros tempus viverra. Sed pretium urna lectus, sit amet commodo libero mattis sed. Etiam eu efficitur lacus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
			</div>
			<%= image_tag('placeholders/frut-one.jpg', :class => "staff-photo-left") %>
		</div>
		<div class = "bio-divider"></div>
	</div>
</div> <!-- about-the-mag-container --> 