<% provide(:title, 'Home') %>

<div class = "home-container">
	<% if false %>
	<div class = "punct-icons">
		<h1>Ħ</h1>
		<h1>&</h1>
		<h1>§</h1>
		<h1>Æ</h1>
	</div>
	 <% end %>

	<div class = "blog-display-container">
		<div class = "home-icon-container">
			<span class = "icon laptop"></span>
			<span class = "icon box"></span>
			<span class = "icon layer"></span>
			<span class = "icon computer"></span>
		</div>
		<div class = "home-blog-title-container">
			<h3 id = "home-blog-title"><span>From The Blog</span></h3>
		</div>
		<% for blog in @blogs do %>
		<div class = "blog-home-display">
			<div class = "blog-display-left">
				<h4><%=blog.created_at.strftime("%d %b, %Y")%></h4>
				<div class = "fake-image-right"></div>
			</div>
			<div class = "blog-display-right">
				<h3><%= link_to blog.title, blog_path(blog)%></h3>
				<h4>Author Name</h4>
			</div>
		</div>
		<% end %>
	</div>

	<div class = "home-about-container">
		<div class = "home-icon-container">
			<span class = "icon coffee"></span>
			<span class = "icon pen-ruler"></span>
			<span class = "icon newspaper"></span>
			<span class = "icon puzzle"></span>
		</div>
		<div class = "home-about-title">
			<h3 id = "home-about-title"><span>About the Magazine</span></h3>
		</div>
		<div class = "home-about-text">
			<p>Quisque ut ante nibh. Proin ut bibendum ex, sed dapibus urna. In commodo arcu non venenatis egestas. Sed tempor ultricies lorem, eget aliquet sem faucibus sed. Sed non augue eget arcu bibendum maximus. Pellentesque sit amet nisl sed massa sagittis scelerisque a ac dolor. Donec laoreet id purus non mollis. In efficitur turpis nunc, quis dictum lorem tristique in. Maecenas ullamcorper dui sit amet sapien gravida, id molestie ex blandit. Mauris lobortis nisl risus, vitae fringilla massa mollis quis. Pellentesque ullamcorper mauris vel nisi vulputate efficitur. </p>
			<h5><a href="/about">Continue Reading &#10147;</a></h5>
		</div>
	</div>
	<div id = "thin-line-home"></div>
	<div class = "current-magazine-container">
		<h3>Current Issue Title</h3>
	</div>

	<%= render partial: 'layouts/signup' %>
	
</div>

