<% provide(:title, 'Home') %>

<div class = "home-container">
	<div class = "punct-icons">
		<h1>Ħ</h1>
		<h1>&</h1>
		<h1>§</h1>
		<h1>Æ</h1>
	</div>

	<div class = "display-container">
		
	</div>

	<div class = "home-about-container">
		<div class = "home-about-title">
			<h3 id = "home-about-title"><span>About the Magazine</span></h3>
		</div>
		<div class = "home-about-text">
			
		</div>
	</div>
	
	<div id = "thin-line-home"></div>
	<div class = "current-magazine-container">
		<h3>Current Issue Title</h3>
	</div>

	<div class = "from-the-blog">
		
	</div>
	
</div>

