<div class = "login-wrapper">
	<div class = "login-container">
		<h4><%= link_to "Etcetera Magazine", root_path %></h4>
		<h3>Login</h3>
		<form action="">
	  		<input type="text" placeholder="Username">
	  		<input type="text" placeholder="Password">
	  		<input type="submit">
		</form>
	</div>
</div>