<% provide(:title, 'Blog') %>


<div class = "blog-container">
	<h1>EctMag Blog</h1>
	<div id = "line-thin"></div>
	<div id = "line-thick"></div>
		<% for blog in @blogs do %>
		<div class = "blog-article-container">
			<div class = "blog-article-content">
			<p id = "blog-article-date"><%= blog.date %></p>
			<h3 id = "blog-article-title"><%= link_to blog.title, blog_path(blog)%></h3>
			<p id = "blog-article-author">Author Name</p>
		</div>
		</div>
		<% end %>
</div>