/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
 */

/* 
font-family: 'Playfair Display', serif; 
font-family: 'Raleway', sans-serif;
*/

body {    
    margin: 0 !important;
    padding: 0 !important;

}

* {
margin: 0;
}

img {
	padding: 0;
	margin: 0;
}

div{
   margin: 0px;
   padding: 0px;
}

table{
   margin: 0px;
   padding: 0px;
}
h1, h2, h3, h4, h5, p{
   margin: 0px;
   padding: 0px;
}

a {
	text-decoration: none;
	color: inherit;
}

.content-wrapper {
  width: 100%;
  height: auto;
  overflow: hidden;
}

/* -- flash css -- */
#flash {
  width: 40%;
  text-align: center;
  font-size: 1.4em;
  margin: 0 auto;
  color: #4F8A10;
  background-color: #DFF2BF;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  border: 1px solid;
  padding: 15px 20px 15px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* -- header css -- */
.header-container {
  width: 100%;
  background-color: #e1f1fc;
background-image: url("http://www.transparenttextures.com/patterns/cream-pixels.png");
  margin: 0 auto;
  text-align: center;
  height: 160px;
  padding-top: 16px;
}

.circle {
  margin: 0 auto;
  border-radius: 50%;
  width: 50px;
  height: 50px; 
  background-color: #916A70;
  transition: background-color 0.3s;
  display: none;
}

.circle:hover {
  background-color: #2c3e50;
}
/* -- header slide down upon scroll -- */
.header-container.animateIt {
    position:fixed;
    top:-220px;
    left: 0;
    right: 0;
    z-index:999;
    transition:0.3s top cubic-bezier(.3, .73, .3, .74);

    height: 40px;
    padding-top: 0px;
    box-shadow:         0px 3px 12px 0px rgba(50, 50, 50, 0.25);
}

.header-text.hide {
  display: none;
}

.header-nav.up {
  margin-top: 10px;
}

.circle.move {
  display: block;
  float: left;
  width: 30px;
  height: 30px; 
  margin-left: 4%;
  top: 50%;
  transform: translateY(18%);
}

.circle-img.size {
  width: 100%;
}

body.down .header-container.animateIt {
    top:0;
}



.header-container h1 {
	font-family: 'Playfair Display', serif;
	font-weight: 700;
  font-size: 3.4em;
  color: #444;
  margin-top: 10px;
}

.header-nav {
  width: 80%;
   margin: 30px auto;
   list-style-type: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.header-nav li {
  display: inline-block;
  text-align: center;
  margin-left: 25px;
  margin-right: 25px;
  font-family: 'Raleway', sans-serif;
  color: #444;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: color 0.2s
}

.header-nav li:hover {
  color: #916A70;
}

/* highlight if current page */

.active-nav{
  color: #916A70;
  border-bottom: 1px dotted #916A70;
}

/* -- forms css -- */
.blog-form-container {
  width: 50%;
  margin: 0 auto;
}

.blog-form-container p {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 1.2em;
  padding-top: 20px;
  padding-bottom: 20px;
  letter-spacing: 1px;
}

.blog-form-container label {
    display:inline-block;
    float:left;
}

.blog-form-container input {
    height:30px; 
    width:400px; 
    font-size: 1em;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}
.blog-form-container textarea {width:600px;}
.blog-form-container button {margin-left:156px;}

.blog-form-container input:focus, .blog-form-container textarea:focus {
    outline: none;
}

#validation-error-message {
  width: 40%;
  text-align: center;
  font-size: 1.4em;
  margin: 0 auto;
  color: #D8000C;
  background-color: #FFBABA;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  border: 1px solid;
  padding: 15px 20px 15px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* -- magazine header css -- */
.magazine-nav {
  width: 100%;
  height: 50px;
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
}

.magazine-nav ul {
  width: 80%;
  height: 50px;
  list-style-type: none;
   margin: 0 auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.magazine-nav ul li {
  line-height: 50px;
}


/* -- footer css -- */
.footer-container {
  width: 100%;
}

.footer-text-wrapper {
  width: 100%;
  margin-top: 192px;
  position: absolute;
  background-color: #eaedef; 
}

.footer-text-container {
  width: 80%;
  height: 160px;
  margin: 20px auto;
  border-bottom: 1px solid #bebebe;
}

.footer-nav-top {
  padding-top: 30px;
   width: 80%;
  list-style-type: none;
   margin: 0 auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.footer-nav-top li {
  display: inline-block;
  margin-left: 32px;
  margin-right: 32px;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  color: #747474;
  font-size: 1em;
  letter-spacing: 0.1em;
}

.copyright-footer {
  width: 80%;
  list-style-type: none;
  margin: 0px auto;
  padding: 0px 0px 20px 0px;
}

.copyright-footer li {
  display: inline-block;
  font-family: 'Vollkorn', serif;
  font-size: 11px;
  color: #7c7c7c;
}

#copyright {
  float: left;
}

#site-design {
  float: right;
}

#tom-link {
  color: #444;
}

#tom-link:hover {
  color: #7c7c7c;
}



/* -- signup css -- */
.signup-container {
  width: 50%;
  margin: 0 auto;
  height: 200px;
  text-align: center;
}


#signup-title {
    width: 100%;
    line-height: 0.1em;
    margin: 10px 0 20px; 
    border-bottom: 1px solid #bebebe;
    letter-spacing: 1px;
    margin-top: 50px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 1.4em;
    color: #444;
}

#signup-title span {
   background:#fff; 
    padding:0 10px; 
}

.signup-container p {
    margin-top: 2px;
    font-family: 'Vollkorn', serif;
    color: #7c7c7c;
    font-size: 14px;
}

.signup-container input[type=text] {
    margin-top: 24px; 
    height:40px; 
    width:400px; 
    text-indent: 14px;
    font-size: 1em;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    border-left:1px solid #aaa;
    border-top:1px solid #aaa;
    border-bottom:1px solid #aaa;
    box-shadow: none;
    border-radius: 3px 0px 0px 3px;
    vertical-align: bottom;
}

.signup-container input:focus {
    outline: 0;
}

.signup-container input[type=submit] {
  height:44px; 
  width: 50px;
  border:1px solid #aaa;
  background-color: #f8f8f8;
  padding-left: 0;
  margin-left: -6px;
  cursor: pointer;
  text-indent: 5px;
  border-radius: 0px 3px 3px 0px;
  transition: background-color 0.2s;
    font-size: 1.6em;
    line-height: 20px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: #7c7c7c;
}

.signup-container input[type=submit]:hover {
 background-color: #eee;
}

/* -- logout header -- */

.logout {
  width: 100%;
  height: 30px;
}

.logout a {
  line-height: 30px;
  float: right;
}

/* -- admin panel css -- */

.admin-container {
  position: fixed;
  z-index: 100;
  height: 720px;
  width: 250px;
  background-color: #ede0ce;
}