// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.article-show-image {
	width: 100%;
	height: 100vh;
	position: relative;
	z-index: 5;
	overflow: hidden; 
}

.article-show-overlay:after {
 content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: -moz-linear-gradient(top,  rgba(40,40,40,0.7) 0%, rgba(20,20,20,0.6) 25%, rgba(20,20,20,0.3) 100%);
background: -webkit-linear-gradient(top,  rgba(40,40,40,0.7) 0%,rgba(20,20,20,0.6) 25%,rgba(20,20,20,0.3) 100%);
background: linear-gradient(to bottom,  rgba(40,40,40,0.7) 0%,rgba(20,20,20,0.6) 25%,rgba(20,20,20,0.3) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3282828', endColorstr='#4d141414',GradientType=0 );
}

.article-show-overlay img {
	width: 100%;
	height: 100vh;
}


/* --- scroll arrow css -- */ 



.article-show-head-container {
	z-index: 50;
	width: 100%;
	height: 220px;
	background-color: #f0f0f0;
	margin-top: 10px;
	margin-bottom: 10px;
}

.article-show-head {
	padding-left: 80px;
	padding-right: 60px;
	display: inline-block;
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
  	float: left;
}

.article-show-head a:hover {
	text-decoration: underline;
}

.article-show-head h3 {
	font-family: 'Crimson Text', serif;
	font-weight: 400;
	text-transform: uppercase;
  	letter-spacing: 0.05em;
	color: #404040;
	font-size: 0.8em;
	margin-top: 5px;
	margin-bottom: 5px;
}

#article-show-issue {
	font-family: 'Raleway';
	font-weight: 400;
	text-transform: none;
	color: #616263;
}

#article-show-date {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	color: #444;
}

.article-show-divider {
	display: inline-block;
	width: 4px;
	background-color: #BEBEBE;
	height: 180px;
	float: left;
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

.article-show-title {
	padding-left: 70px;
	float: left;
	display: inline-block;
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

.article-show-title h1 {
	font-family: 'Feena Casual';
	text-transform: uppercase;
	letter-spacing: 0.15em;
	font-size: 2.8em;
	color: #404040;
	padding-top: 10px;
	padding-bottom: 10px;

}

.article-show-text {
	line-height: 1.6;
	font-size: 18px;
	width: 620px;
	margin-top: 60px;
	margin-left: 20%;
	font-family: 'Crimson Text', serif;
	font-weight: 400;
	color: #444;
	padding-bottom: 40px;
	border-bottom: 1px solid #bebebe;
	margin-bottom: 100px;
}
