// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blog-container {
	padding-top: 40px;
	width: 60%;
	margin: 0 auto;

	height: 1000px;
}

.blog-container h1 {
	font-family: 'Playfair Display', serif;
	font-weight: 700;
  	font-size: 2.4em;
  	color: #444;
}

#line-thin {
	margin-top: 10px;
	width: 100%;
	height: 1px;
	background-color: #916A70;
}

#line-thick {
	margin-top: 1px;
	width: 100%;
	height: 2px;
	background-color: #916A70;
}