// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blog-container {
	width: 64%;
	margin: 40px auto;
	height: 1000px;
}

.blog-container h1 {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
  	font-size: 2.4em;
  	color: #444;
}

#red {
	color: #916A70;
	letter-spacing: -2px;
}

#line-thin {
	margin-top: 10px;
	width: 100%;
	height: 1px;
	background-color: #916A70;
}

#line-thick {
	margin-top: 1px;
	width: 100%;
	height: 2px;
	background-color: #916A70;
}

.blog-container-left {
	width: 69%;
	float: left;
	margin-top: 24px;
	border-right: 1px solid #bebebe;
	padding-right: 2.5%;
}

.blog-container-right {
	float: right;
	margin-top: 20px;
	width: 26%;
	height: 400px;
}

.blog-article-container {
	width: 100%;
	height: 170px;
	border-bottom: 1px dotted #444;
}

.blog-thumb-container {
	float: left;
	width: 40%;
	height: 169px;
}

.fake-image {
	height: 130px;
	width: 130px;
	margin: 0 auto;
	background-color: #444;
	position: relative;
	top: 50%;
  	transform: translateY(-50%);
  	-webkit-clip-path: polygon(100% 0, 100% 100%, 25% 100%, 0 75%, 0 0);
	clip-path: polygon(100% 0, 100% 100%, 25% 100%, 0 75%, 0 0);
}

.blog-article-content {
	float: right;
	width: 60%;
	margin-top: 20px;
}

.blog-article-content a:hover {
	text-decoration: underline;
}

#blog-article-date {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
  	font-size: 1em;
  	color: #444;
}

#blog-article-title {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
  	font-size: 1.8em;
  	color: #444;
  	margin-top: -5px;
}

#blog-article-author {
	font-family: 'Vollkorn', serif;
	font-size: 0.9em;
	color: #825f65;
	text-transform: uppercase;
	letter-spacing: -1px;
	margin-top: 6px;
}

.blog-container-right h5 {
	margin-left: 7%;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
  	font-size: 1.2em;
  	color: #444;
}

.blog-h5-line {
	margin: 5px auto;
	width: 86%;
	border-bottom: 1px solid #bebebe;
}

.contributors-list {
	width: 70%;
	margin: 0 auto;
}

.contributor:first-child {
	margin-top: 10px;
}

.contributor {
	margin-top: 5px;
	margin-bottom: 5px;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size: 0.9em;
	color: #444;
}

.contributor:hover {
	color: #916A70;
}

/* -- blog show css -- */

.blog-show-container {
	width: 70%;
	margin: 0 auto;
}

.blog-show-head {
	width: 100%;
	height: 180px;
	border-bottom: 1px solid #bebebe;
}

.blog-head-content {
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

.blog-head-content h3 {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size: 0.9em;
	color: #444;
}
.blog-head-content h1 {
	padding-top: 2px;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size: 2em;
	color: #444;
	letter-spacing: 1px;
}

.blog-head-content h4 {
	padding-top: 10px;
	font-size: 1em;
}

.blog-head-content a:hover {
	text-decoration: underline;
}

.blog-image {
	width: 70%;
	padding-top: 30px;
	padding-bottom: 50px;
}

.blog-image img {
	width: 100%;
}

.blog-show-text {
	line-height: 1.6;
	font-size: 18px;
	width: 64%;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	color: #444;
	padding-bottom: 50px;
	border-bottom: 1px solid #bebebe;
}

