@font-face {
    font-family: 'Feena Casual';
    src: asset-url('feena-casual-webfont.eot');
    src: asset-url('feena-casual-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('feena-casual-webfont.woff2') format('woff2'),
         asset-url('feena-casual-webfont.woff') format('woff'),
         asset-url('feena-casual-webfont.ttf') format('truetype'),
         asset-url('feena-casual-webfont.svg#feena_casualregular') format('svg');
    font-weight: normal;
    font-style: normal;
}