// Place all the styles related to the Issues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.issues-header {
	width: 100%;
	height: 50px;
	background-color: #eee;
}

/* -- issues index css -- */

.issues-container {
	width: 100%;
	margin: 20px auto;
	height: auto;
	overflow: hidden;
}

.issues-list {
	width: 990px;
	margin: 0 auto;
}

.issues-head {
	width: 100%;
	margin: 20px auto;
}

.issues-head h1 {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
  	font-size: 2.6em;
  	color: #444;
}

#issues-line-thin {
	margin-top: 10px;
	height: 1px;
	background-color: #b66964;
}

#issues-line-thick {
	margin-top: 1px;
	height: 2px;
	background-color: #b66964;
}
.issue-table {
	margin: 0 auto;
	width: 86%;
}

.issue-block {
	display: inline-block;
	width: 39.6%;
	margin-left: 5%;
	margin-right: 5%;
}

.issue-block {
	height: 360px;
	text-align: center;
	margin-top: 20px;
}

.issue-block-image {
	display: block;
	margin: 0 auto 10px;
}

.issue-name {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
  	font-size: 1.4em;
  	color: #444;
  	letter-spacing: 0.05em;
}

#issue-show-date {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	color: #444;
	font-size: 0.8em;
}

.issue-block a:hover h5{
	text-decoration: underline;
}

/* -- issue show css -- */
.issue-show-wrapper {
	margin-bottom: 80px;
}

.issue-show-head {
	width: 990px;
	margin: 20px auto;
}

.issue-show-head h1 {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
  	font-size: 2.6em;
  	color: #444;
}

.issue-article-index {
	margin: 0 auto;
	width: 860px;
}

.issue-article-head-text {
	display: inline-block;
	font-family: 'Raleway', sans-serif;
	font-size: 1.1em;
	color: #596f7a;
	margin-bottom: 30px;
}

.issue-article-divider {
	display: inline-block;
	height: 1px;
	width: 780px;
	vertical-align: middle;
	background-color: #ccc;
}

.issue-article-block {
	margin-bottom: 30px;
}

.issue-index-image {
	width: 380px;
	height: 260px;
	display: inline-block;
}

.issue-index-image img {
	width: 100%;
	height: 100%;
}

.issue-index-text {
	display: inline-block;
	vertical-align: top;
	margin-left: 40px;
	width: 380px;
}

.issue-index-text a:hover {
	text-decoration: underline;
}

#issue-article-title {
	font-family: 'Playfair Display', serif;
	font-weight: 700;
  	font-size: 1.6em;
  	color: #444;
}

#issue-article-author {
	font-family: 'Crimson Text', serif;
	font-weight: 400;
	text-transform: uppercase;
  	letter-spacing: 0.05em;
	color: #404040;
	font-size: 0.8em;
	margin-bottom: 12px;
}

.issue-index-text p {
	font-family: 'Crimson Text', serif;
	color: #444;
	line-height: 1.2;
}

@media only screen and (max-width: 1000px) {
	 .issue-show-wrapper {
		 width: 92%;
		 margin: 0 auto;
		 padding-left: 2%;
		 padding-right: 2%;
	 }
 }
