// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* -- login page css -- */

.login-wrapper { 
	width: 100%;
	height: 100vh;
  background: url(image_path('login-background.jpg')) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #000;
}

.login-container {
	width: 80%;
	margin: 0px auto;
}
.login-container h4 {
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
  	color: #fff;
  	font-size: 4em;
  	letter-spacing: 0.15em;
  	padding-top: 20px;
}

.login-container a {
	transition: all 0.3s;
}

.login-container a:hover {
	opacity: 0.8;
}

.login-container h3 {
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
  	color: #fff;
  	font-size: 1.8em;
  	letter-spacing: 0.15em;
  	padding-top: 120px;
  	padding-bottom: 30px;
}

.login-container input[type=text], .login-container input[type=password] {
    height:40px; 
    width:460px; 
    text-indent: 14px;
    font-size: 1em;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    background-color: #fff;
    vertical-align: bottom;
	outline: 0;
	border: 1px solid #fff;
	display: block;
	margin: 8px auto 8px;
}

.login-container input[type=submit] {
  height:40px; 
  width: 200px;
  border:1px solid #fff;
  background-color: transparent;
  cursor: pointer;
  border-radius: 26px;
	letter-spacing: 0.2em;
   font-size: 1em;
    line-height: 20px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: #fff;
   margin: 50px auto;
   display: block;
   transition: all 0.3s;
}

.login-container input:focus {
    outline: 0;
}

.login-container input[type=submit]:hover {
	background-color: #fff;
	color: #444;
}
