// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* -- home page css -- */
.home-container {
	width: 100%;
}

.feature-container {
	width: 60%;
	margin: 20px auto;
}

.feature-container img {
	width: 100%;
	z-index: 1;
}

.feature-container img:hover ~ .feature-content-container, .feature-tag:hover + .feature-content-container{
	box-shadow: 0px 5px 20px 0px rgba(50, 50, 50, 0.5);
}

.feature-content-container {
	width: 520px;
	margin: 88px auto;
	height: 140px;
	position: relative;
	transition: box-shadow 0.5s;
	background-color: #fff;
	text-align: center;
}

.feature-content-container:after {
	z-index: 10;
	position: absolute;
	height: 100%;
	background-color: #fff;
	display: block;
	top: 0;
  	left: 0;
  	right: 0;
}	

.feature-content-container:hover {
	box-shadow: 0px 5px 20px 0px rgba(50, 50, 50, 0.5);
}

.feature-tag {
	height: 40px;
	width: 120px;
	margin: -100px auto;
	position: relative;
}

#feature-text:after {
	content: "Feature";
	background-color: rgba(20,20,20,0.90);
	z-index: 15;
	position: absolute;
	height: 40px;
	display: block;
	top: 0;
  	left: 0;
  	right: 0;
}

#feature-text {
	height: 40px;
	width: 120px;
	position: relative;
	text-align: center;
	line-height: 40px;
	font-family: 'Raleway', sans-serif;
	font-size: 1.2em;
	letter-spacing: 2px;
	color: #fff;
	z-index: 20;
}

#home-feature-title {
	padding-top: 30px;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size: 1.8em;
	color: #444;
	z-index: 20;
	letter-spacing: 1px;
}

.feature-content-container h4 {
	padding-top: 10px;
	font-family: 'Vollkorn', serif;
    color: #696969;
    font-size: 0.9em;
    letter-spacing: 0px;
}

/* -- magazine preview css -- */

.magazine-preview-container {
	width: 100%;
}

.magazine-preview-img, .magazine-preview-text {
	width: 28%;
	padding-left: 2%;
	padding-right: 2%;
	display: inline-block;
}
.magazine-preview-img:first-child, .magazine-preview-text:first-child {
	margin-left: 2%;
}

.magazine-preview-img img {
	width: 100%;
}

.magazine-preview-text {
	text-align: center;
	margin-top: 10px;
}

.magazine-preview-text h3 {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size: 1.4em;
	letter-spacing: 1px;
}




/* -- blog preview css -- */
.blog-display-container {
	width: 70%;
	margin: 90px auto;
	text-align: center;
}

.blog-display-container h3 {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	color: #444;
	font-size: 1.4em;
	padding-top: 8px;
}

.home-blog-title-container {
	margin: 0 auto; 
	width: 70%;
	margin-bottom: 60px;
}

#home-blog-title {
	width: 100%;
	margin: 0 auto;
	line-height: 0.1em;
  	margin: 10px 0 20px; 
    border-bottom: 1px solid #bebebe;
    letter-spacing: 1px;
}

#home-blog-title span {
   background:#fff; 
    padding:0 10px; 
}

.blog-home-display {
	width: 100%;
	height: 140px;
	padding-bottom: 34px;
}

.blog-display-left {
	width: 30%;
	float: left;
	height: 139px;
	text-align: left;
}

.fake-image-right {
	float: right;
	display: inline-block;
	height: 110px;
	width: 110px;
	background-color: #444;
  	-webkit-clip-path: polygon(100% 0, 100% 100%, 25% 100%, 0 75%, 0 0);
	clip-path: polygon(100% 0, 100% 100%, 25% 100%, 0 75%, 0 0);
}

.blog-display-right {
	width: 70%;
	float: right;
	height: 139px;
	text-align: left;
}

.blog-display-right h3 {
	margin: -17px 0px 0px 50px;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size: 1.8em;
	color: #444;
}

.blog-display-right h4 {
	margin: 0px 0px 0px 50px;

}

#home-blog-date {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size: 0.9em;
	color: #444;
}

.blog-home-display {
	margin: 0 auto;
	width: 80%;
}

.home-about-container {
	margin-bottom: 100px;
	background-color: #fff;
	width: 100%;
	text-align: center;
}

.home-about-container h3 {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	color: #444;
	font-size: 1.4em;
}

/* -- icons css -- */

.home-icon-container {
	width: 20%;
	margin: 0 auto;
}

.icon {
	display: inline-block;
	position: relative;
	overflow: hidden;
	text-indent: 105%;
	white-space: nowrap;
	width: 24px;
	height: 24px;
	vertical-align: middle;
	margin-left: 5px;
	margin-right: 5px;
}

.laptop {
	background: url(image_path('icons/laptop.png'));
}

.layer {
	background: url(image_path('icons/layer.png'));
}

.box {
	background: url(image_path('icons/box.png'));
}

.computer {
	background: url(image_path('icons/computer.png'));
}

.coffee {
	background: url(image_path('icons/coffee.png'));
}

.newspaper {
	background: url(image_path('icons/newspaper.png'));
}

.pen-ruler {
	background: url(image_path('icons/pen-ruler.png'));
}

.puzzle {
	background: url(image_path('icons/puzzle.png'));
}


.home-about-title {
	width: 50%;
	margin: 0 auto;
	padding-top: 10px;
}

#home-about-title {
	width: 100%;
	margin: 0 auto;
	line-height: 0.1em;
  	margin: 10px 0 20px; 
    border-bottom: 1px solid #bebebe;
    letter-spacing: 1px;
}

#home-about-title span {
   background:#fff; 
    padding:0 10px; 
}

.home-about-text {
	margin: 0 auto;
	width: 46%;
	text-align: justify;
}

.home-about-text h5 {
	margin-top: 10px;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	color: #444;
	font-size: 16px;
	float: right;
	transition: color 0.2s;
	color: #745459;
}

.home-about-text h5:hover {
	color: rgba(44,62,80, 0.8);
}

.home-about-text p {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	color: #444;
	font-size: 14px;
	line-height: 1.6;
}

#thin-line-home {
	margin: 80px auto;
	width: 64%;
	background-color: #916A70; 
	height: 1px;
	margin-bottom: 1px;
}

.current-magazine-container {
	margin: 0 auto;
	width: 64%;
	height: 360px;
	background-color: #f6f6f6;
	border-top: 2px solid #916A70; 
}

.fake-mag-cover {
	width: 208px;
	height: 260px;
	background-image: url(image_path('etc-cover.jpg'));
	float: left;
	margin: 40px 0px 0px 100px;
}

.current-magazine-content {
	margin: 30px 0px 0px 70px;
	float: left;
}

.current-magazine-content h3 {
	width: 170%;
	border-bottom: 1px dotted #444;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	color: #444;
	font-size: 1.8em;
	letter-spacing: 1px;
}

.articles-list {
	list-style-type: none;
	margin: 10px 0px 0px 0px;
}

.articles-list li {
	padding-top: 4px;
	padding-bottom: 4px;
	color: #444;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
}

#author-name {
	font-family: 'Vollkorn', serif;
	font-size: 0.9em;
	color: #745459;
	text-transform: uppercase;
	letter-spacing: -1px;
}





/* -- about-the-magazine css -- */
.about-the-mag-container {
	width: 100%;
	height: 2000px;
}

.about-first {
	width: 100%;
	height: 440px;
}

.about-image-first {
	float: left;
	width: 58%;
	background-image: url(image_path('about-image-first.png'));
	height: 440px;
}

.about-text-first {
	float: right;
	height: 440px;
	background-color: #f6f6f6;
	width: 42%;
}

.about-second {
	width: 100%;
	height: 330px;
}

.about-the-staff {
	width: 50%;
	margin: 0 auto;
	padding-top: 10px;
	text-align: center;
}

#staff-about-title {
	width: 100%;
	margin: 0 auto;
	line-height: 0.12em;
  	margin: 10px 0 20px; 
    border-bottom: 1px solid #bebebe;
    letter-spacing: 1px;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size: 1.4em;
	color: #444;
	margin-bottom: 50px;
}

#staff-about-title span {
   	background:#fff; 
    padding:0 10px; 
}

.staff-bio {
	margin: 0 auto;
	width: 86%;
}

.bio-content-right, .bio-content-left {
	width: 30%;
	height: 320px;
	background-color: #fff;
	border: 2px solid #444;
	display: inline-block;
	position: absolute;
}


.bio-content-right {
	float: left;
}

.bio-content-left {
	float: right;
}

#bio-name {
	padding: 20px 0px 0px 50px;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size: 1.6em;
	color: #444;
	letter-spacing: 1px;
}

#position {
	padding: 0px 0px 0px 50px;
	font-family: 'Raleway', sans-serif;
	font-size: 0.8em;
	letter-spacing: 2px;
	color: #888888;
}

#bio-text {
	padding: 20px 0px 0px 50px;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.4;
	color: #444;
	text-align: justify;
	width: 76%;
}

.staff-photo-left, .staff-photo-right {
	width: 54%;
	display: inline-block;
}

.staff-photo-left {
	float: right;
	margin-right: 1%;
}

.staff-photo-right {
	float: left;
	margin-left: 1%;
}

#one {
	margin: 3% 0 0 18%;
}

#two {
	margin: 36% 0 0 38%;
}

#three {
	margin: 69% 0 0 18%;
}

