<div class= "footer-container">
	<%= image_tag('bucknell-footer.png') %>
	<div class = "footer-text-container">
		<div class = "footer-text">
			<ul class = "static-pages-ul">
				<li>Title</li>
				<li>Home</li>
				<li>About the Magazine</li>
				<li>About the Website</li>
				<li>Contact</li>
			</ul>
		</div>
	</div>
</div>
