<div class = "signup-container">
	<h3 id = "signup-title"><span>Stay Updated</span></h3>
	<p><i>Recieve an email update for every print and digital issue.</i></p>
	<form action="">
  		<input type="text" placeholder="Enter Email Address">
  		<input type="submit" value="&#10095;">
	</form>
</div>